body{
  background: linear-gradient(20deg,pink,pink);
  width: 100%;

}

/*cat animation*/


.op{
  display: flex;
  justify-content: center;
  align-items: center;
}
.emi-container{
  width: 380px;
  background-color: pink;
  text-align: center;
  border: 10px solid black;
  border-radius: 10% 40% 10% 40%/40% 10% 40% 10%;

}

.inputs >input{
  width: 250px;
  height: 30px;
  text-align: center;
  outline: none;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: pink;
  border: 4px solid black;
}

